{
  "plugins": ["prettier"],
  "extends": [
    "react-app",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/react"
  ],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "prettier/prettier": "error"
  }
}
